# AWS Profile
profile            = "yourprofile"

# 自宅のWiFiのグローバルIP
home_global_ip     = "123.123.123.123"

# Raspbeery Piに振ったプライベートIP
home_pi_private_ip = "192.168.2.123"

# 自宅のWiFiのネットワークCIDR
node_network_cidr  = "192.168.2.0/24"

# Pod用の仮想ネットワークCIDR
# WiFiネットワークの隣に設定してみています
pod_network_cidr   = "192.168.3.0/24"

# Pod用とNode用(Wifi)のネットワークを両方含むCIDR
home_network_cidr  = "192.168.2.0/23"
